<?xml version="1.0" ?>
<launch>
    <include file="$(find gazebo_ros)launch/empty_world.launch" >
        <arg name="world_name" value="$(find project3)/maps/Maze.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="false" /> <!-- alternativ "gzclient" in commandline-->
    </include>

    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger_for_autorace.urdf.xacro" />

    <arg name="my_x"/>
    <arg name="my_y"/>
    <arg name="my_Y"/> <!--in Radiant-->

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x $(arg my_x) -y $(arg my_y) -z 0 -Y $(arg my_Y) -param robot_description"/>
	
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find project3)/rviz/rvizsettings.rviz" />

    <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen"/>

    <!-- <include file="$(find turtlebot3_navigation)/launch/move_base.launch" /> --> <!-- um Ziele zu setzen. Laden von move base-->

    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server_thing" output="screen"/>

  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />
  <arg name="move_forward_only" default="false"/>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find project3)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find project3)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
    
  </node>

</launch>
