<?xml version="1.0" ?>
<launch>
    <include file="$(find gazebo_ros)launch/empty_world.launch" >
        <arg name="world_name" value="$(find project3)/maps/Maze.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="false" /> <!-- alternativ "gzclient" in commandline-->
    </include>

    <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger_for_autorace.urdf.xacro" />

    <arg name="my_x"/>
    <arg name="my_y"/>
    <arg name="my_Y"/> <!--in Radiant-->

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x $(arg my_x) -y $(arg my_y) -z 0 -Y $(arg my_Y) -param robot_description"/>
	
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find project3)/rviz/rvizsettings.rviz" />

    <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen"/>

    <include file="$(find turtlebot3_navigation)/launch/move_base.launch" /> <!-- um Ziele zu setzen. Laden von move base-->

</launch>
